//sass --watch web/style/main.scss:web/style/main.css --style compressed

$color-ceres: #f14472;
$color-ceres-dark: #ca4179;
$color-light-gray: #d9e2ec;
$color-gray: #c7d2dd;
$color-anothe-gray: #a8b8c7;
$color-dark-gray: #768fa8;
$color-text-gray: #5d758c;

//EXTENDS
.wrap-width-center {
  width: 980px;
  margin: 0 auto;
}

.main-input {
  border: 2px solid $color-light-gray;
  background: #fff;
  outline: none;
  border-radius: 14px;
  padding: 1px 6px;
}

//======== END EXTENDS =========

//Helpers
$base-font-size: 16;
$template-width: 1024;
//@import "helpers/pesticide";
@import "helpers/functions";
@import "helpers/fonts";
@import "helpers/normalize";

//Components
@import "components/icons";
@import "components/search";

//Layout
@import "layout/header";
@import "layout/category_navigation";
@import "layout/collections";
@import "layout/main_information";
@import "layout/up";
@import "layout/pre_footer";
@import "layout/footer";

//Pages
@import "pages/main_page";

body {
  background: #fff url("../images/line-repeat-x.jpg") repeat-x;
  min-height: 30px;
  font-family: pf_beausans_pro_reg;
}

a{text-decoration: none}

section {clear: both}

input::-moz-placeholder {
  //  @extend .extended-placeholder-style;
  color: $color-gray;
  font-family: pf_beausans_pro_book-ital;
  font-style: italic;
  font-size: em(18);
}

input::-webkit-input-placeholder{
  //  @extend .extended-placeholder-style;
  color: $color-gray;
  font-family: pf_beausans_pro_book-ital;
  font-style: italic;
  font-size: em(18);
}
