//sass --watch web/style/main.scss:web/style/main.css --style compressed

$h1-color: #f14472;

//Helpers
$base-font-size: 16;
$template-width: 1024;
@import "helpers/functions";
@import "helpers/fonts";
@import "helpers/normalize";

//Components

$pesticide-debug: true;
//$pesticide-debug: false;
@import "components/pesticide";

//Layout
@import "layout/header";

//Pages
@import "pages/main_page";

body {
  background: #fff url("../images/line-repeat-x.jpg") repeat-x;
  min-height: 30px;
  font-family: pf_beausans_pro_reg;
  font-size: em(1);
  padding-top: 15px;
}