$color-ceres: #f14472;
$color-ceres-dark: #ca4179;
$color-light-gray: #d9e2ec;
$color-gray: #c7d2dd;
$color-anothe-gray: #a8b8c7;
$color-dark-gray: #768fa8;
$color-text-gray: #5d758c;

$color-filter-bg: #f1f5f9;
$color-green: #acd373;