@import "../components/items";

.collections {
  width: 100%;
  clear: both;

  margin-bottom: 20px;

  header {
    display: block;
    width: 100%;
    min-height: 10px;
    background: url("../images/zig-zag-line-background.png") repeat-x 0 10px;
  }

  h2 {
    text-align: center;
    color: $color-dark-gray;
    text-transform: uppercase;
    font-family: pf_beausans_pro_sebold-ital;
    font-style: italic;
    font-size: em(18);
    span {
      background: #fff;
      padding: 0 22px;
    }
  }

  .more {
    float: left;
    margin-left: 0px;
    margin-right: -30px;

    .nav-line {
      float: left;
      width: 40px;
      margin-top: 7px;
      margin-right: 17px;
    }

    .nav-circle {
      float: left;
      display: block;
      margin-top: 6px;
      margin-right: 13px;
    }
  }

  .more:hover {
    color: $color-ceres-dark;
    font-family: pf_beausans_pro_sebold-ital;
  }

  .collections-active-link {
    text-transform: uppercase;
    text-decoration: underline;
    color: $color-ceres;
  }

}