.comment-form {
  float: right;
  width: percent(344);
  margin-top: -1px;

  h4 {
    float: left;
    margin: 0;
    padding-right: 10px;
    font-family: pf_beausans_pro_light;
    font-weight: normal;
    font-size: em(18);
    color: $color-ceres;
  }

  .nav-circle {
    float: left;
    margin-top: 6px;
  }

  form {
    clear: both;
    border: 1px solid $color-gray;
    border-radius: 12px;
    padding: 15px 15px;
    margin-top: 42px;

    .right-font-for-input {
      font-family: pf_beausans_pro_reg !important;
      font-size: em(16);
      font-style: normal;
      font-weight: normal;
    }

    textarea {
      min-height: 45px;
    }

    textarea, input {
      clear: both;
      width: 282px;
      max-width: 282px;
      margin: -5px 0 15px -3px;
      background: #eaeff4;
      padding: 3px 10px;
      border-radius: 12px;
      border: 1px solid #c3ced9;
    }

    input::-webkit-input-placeholder {
      color: #768fa8;
      @extend .right-font-for-input;
    }

    textarea::-webkit-input-placeholder {
      color: #768fa8;
      @extend .right-font-for-input;
    }

    input[type='submit']{
      width: 105px;
      background: $color-ceres;
      color: #fff;
      text-align: center;
      padding: 2px 10px;
      border: 0 none;
      margin-bottom: -10px;
    }

  }




}