header {
  margin: 0 auto;

  margin-top: -15px;
  width: 990px;

  position: relative;
}

//Headlines
h1 {
  color: $color-ceres;
  font-family: pf_beausans_pro_black-ital;
  font-size: em(44);
  font-style: italic;
  text-align: center;
}

hgroup {
  position: relative;
}

hgroup span {
  right: 0;

  color: $color-anothe-gray;
  font-family: pf_beausans_pro_book-ital;
  font-size: em(14);
  font-style: italic;
  margin-top: 25px;
  position: absolute;
  text-align: right;
  text-transform: uppercase;
}

//Navigation
.main-navigation {
  font-family: pf_beausans_pro_light;
  font-size: em(18);
  width: 90%;
  margin: 0 auto;
//  margin-left: -10px;
  margin-top: -15px;
  text-align: center;
}

.main-navigation a {
  color: $color-dark-gray;
  margin-right: 40px;
  margin-left: -10px;
  text-decoration: none;
}

.main-navigation a:last-child {
  margin-right: 0;
}
.main-navigation a:hover {
  color: $color-ceres;
}


//Shop Basket
.shop-basket {
  display: block;
  height: 35px;
  position: absolute;
  left: 0;
  top: 60px;
  //  width: 200px;
  width: percent(200);
  line-height: 18px;

  font-family: pf_beausans_pro_book-ital;
  font-style: italic;
  color: $color-ceres;

  i {float: left; margin-right: 10px; margin-top: 2px;}

  span{
    color: $color-anothe-gray;
    text-transform: uppercase;
    font-size: em(17);
  }

  a {
    color: $color-ceres;
  }

  a:hover {color: $color-ceres-dark}

}

.header-search {
  width: percent(160);
  margin: 0 auto;
  margin-left: 405px; //It's okay...
  margin-top: 30px;
}

.telephone {
  background: url("../images/telephone-background.png") no-repeat top center;
  width: 196px;
  display: block;
  position: absolute;
  right: 0;
  top: 64px;
  color: $color-ceres;
  font-family: pf_beausans_pro_reg;
  font-size: em(16);
  padding-top: 8px;

  a { color: #fff;}

  i {
    float: left;
    margin: 4px 25px 0 14px;
  }
}

.call-request{
  clear: both;
  margin-top: 10px;
  .open-form {
    margin-left: -8px;
    margin-top: 2px;
    float: left;
    cursor: pointer;
  }
}