.main-information{
  clear: both;
  margin-top: 95px;
  width: 100%;
}

.information-header {
  border-top: 1px solid #e8ebf0;
  border-bottom: 1px solid #e8ebf0;
  background-color: #f6f7f9;
  color: $color-dark-gray;
  height: 140px;
  width: 100%;
}