.basket-icon {
  display: block;
  width: 36px;
  height: 31px;
  background: url("../images/basket-icon.png");
}

.search-icon {
  background: url("../images/search-icon.png") no-repeat;
  width: 18px;
  height: 18px;
  outline: none;
  border: none;
}

.phone-icon {
  background: url("../images/phone-icon.png") no-repeat;
  width: 15px;
  height: 15px;
}

.call-request-icon {
  background: url("../images/call-request-icon.png") no-repeat;
  width: 16px;
  height: 15px;
}

.home-icon {
  background: url("../images/home-icon.png") no-repeat;
  width: 20px;
  height: 28px;
  display: block;
}

.arrow-icon {
  background: url("../images/arrow-icon.png") no-repeat;
  width: 7px;
  height: 12px;
  display: block;
}