.last-seen {
  width: percent(310);

  h4{
    margin-left: 5px;
    margin-top: 3px;
    font-weight: normal;
    margin-top: -37px !important;
  }

}

.last-preview {
  border: 1px solid $color-gray;
  border-radius: 6px;
  width: 50px;
  height: 40px;
  max-height: 40px;
  max-width: 50px;
  display: block;
  padding-top: 10px;
  float: left;
  margin-right: 25px;
  margin-top: -10px;

  img {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

}

.last-preview:last-child{margin-right: 0;}