//Shop Basket
.shop-basket {
  display: block;
  height: 35px;
  position: absolute;
  left: 12px;
  top: 50px;
  //  width: 200px;
//  width: percent(200);
  width: percent(250);
  line-height: 18px;
  padding-top: 3px;

  font-family: pf_beausans_pro_book-ital;
  font-style: italic;
  color: $color-ceres;

  i {float: left; margin-right: 14px; margin-top: 2px;}

  .r-icon {display: inline-block}


  span{
    color: $color-anothe-gray;
    text-transform: uppercase;
    font-size: em(17);
  }

  a {
    color: $color-ceres;
    span {
      color: $color-dark-gray;
      text-transform: none;
      font-size: em(14);
    }
  }

  a:hover {color: $color-ceres-dark}

}