.wrap-width-center, .breadCrumbs, main {
  width: 980px;
  margin: 0 auto; }

.main-input {
  border: 2px solid #d9e2ec;
  background: #fff;
  outline: none;
  border-radius: 14px;
  padding: 1px 6px; }

.breadCrumbs {
  margin-top: 33px;
  position: relative; }
  .breadCrumbs hr {
    background-color: #768fa8;
    color: #768fa8;
    clear: both;
    height: 1px;
    border: 0 none;
    position: absolute;
    width: 100%;
    z-index: -1; }
  .breadCrumbs .arrow {
    margin: 0;
    margin-top: 5px;
    padding-left: 0;
    display: block;
    background: #fff; }
    .breadCrumbs .arrow i {
      width: 4px;
      height: 6px;
      display: block;
      background-size: cover; }

.br-bg {
  display: block;
  float: left;
  margin-top: 4px;
  z-index: 2;
  padding: 0 10px;
  background: #fff; }

.first-br-bg {
  margin-left: 40px; }

.last-br-bg {
  margin-left: 0;
  padding-left: 0; }

.main-category {
  padding-left: 0;
  margin: 0;
  margin-top: -2px; }
  .main-category a {
    color: #c7d2dd;
    font-family: pf_beausans_pro_reg;
    font-size: 1em; }
  .main-category a:hover {
    color: #f14472; }

.inner-category {
  background: #fff;
  float: left;
  margin-top: -20px;
  padding-right: 10px; }
  .inner-category h2 {
    font-family: pf_beausans_pro_reg;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.375em;
    color: #768fa8; }
  .inner-category .quantity {
    margin: 0 auto;
    text-align: center;
    margin-top: -35px;
    color: #c7d2dd; }
    .inner-category .quantity span {
      color: #768fa8;
      font-style: italic; }

.sort-selector {
  float: right;
  padding-left: 10px;
  background: #fff;
  margin-top: -2px; }
  .sort-selector select {
    background: #d9e2ec;
    border: 0 none;
    outline: none;
    border-radius: 6px;
    color: #768fa8; }
    .sort-selector select option {
      background: #d9e2ec;
      color: #768fa8; }

.filters {
  float: left;
  display: block;
  width: 238px;
  margin-left: -5px;
  margin-top: -7px; }
  .filters h3 {
    color: #768fa8;
    text-align: center;
    font-family: pf_beausans_pro_sebold-ital;
    font-style: italic;
    font-size: 1.375em; }

.filter {
  border: 2px solid #d9e2ec;
  border-radius: 12px;
  min-height: 120px;
  margin-top: -12px;
  padding: 0 7px;
  padding-bottom: 20px;
  background: #f1f5f9; }

.done, .filter-input:hover {
  background: #d9e2ec;
  border-radius: 12px; }

.filter-input {
  padding: 4px 5px !important; }

.filters h4 {
  margin-top: 13px;
  font-family: pf_beausans_pro_book-ital;
  font-style: italic;
  text-transform: uppercase;
  font-size: 0.875em;
  color: #f14472; }
.filters h5 {
  color: #768fa8;
  font-family: pf_beausans_pro_sebold-ital;
  font-style: italic;
  font-size: 1em; }

.nstSlider {
  width: 100%; }

.label {
  background: #768fa8;
  border-radius: 12px;
  color: #fff;
  font-family: pf_beausans_pro_sebold-ital;
  font-style: italic;
  font-size: 0.875em;
  padding: 2px 8px;
  position: relative; }

.leftLabel:before {
  content: '';
  background: url("../../images/lebel-arrow.png") no-repeat;
  display: block;
  width: 9px;
  height: 8px;
  top: -7px;
  right: 5px;
  z-index: 3;
  position: absolute; }

.rightLabel:before {
  content: '';
  background: url("../../images/lebel-arrow.png") no-repeat;
  display: block;
  width: 9px;
  height: 8px;
  top: -7px;
  left: 5px;
  z-index: 3;
  position: absolute; }

.leftLabel {
  transform: rotate(-180deg);
  top: -28px;
  position: absolute; }

.rightLabel {
  position: absolute;
  top: 20px; }

.filter-brand {
  margin-top: 60px;
  margin-bottom: 10px; }
  .filter-brand .filter-input {
    margin-top: -10px; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  font-family: pf_beausans_pro_book;
  font-size: 1.125em;
  width: 100%;
  display: block;
  color: #768fa8;
  cursor: pointer; }

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 5px -3px 0;
  background: url(../../images/check-bg.png) no-repeat; }

input[type="checkbox"]:checked + label::before {
  background: url(../../images/check-bg-ok.png) no-repeat; }

.filter-input {
  border-radius: 12px; }

.filter-material {
  background: #f14472;
  width: 108%;
  position: relative;
  right: -8px;
  left: -9px;
  padding: 2px 0; }
  .filter-material hr {
    border: 0 none;
    background: #fff;
    color: #fff;
    display: block;
    height: 1px;
    width: 96%;
    margin: 15px 0 0 5px;
    position: absolute;
    top: 7px; }
  .filter-material h4 {
    color: #fff;
    text-align: center;
    z-index: 4;
    position: relative; }
    .filter-material h4 span {
      background: #f14472;
      padding: 0 5px; }
  .filter-material input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 5px -3px 0;
    background: url(../../images/check-bg-white.png) no-repeat; }
  .filter-material input[type="checkbox"]:checked + label::before {
    background: url(../../images/check-bg-ok-white.png) no-repeat; }
  .filter-material .done, .filter-material .filter-input:hover {
    background: #FFF;
    color: #f14472; }
  .filter-material .filter-input {
    margin: 0 10px; }
  .filter-material .filter-input:hover input[type="checkbox"] + label::before {
    background: url(../../images/check-bg-ceres.png) no-repeat; }
  .filter-material .filter-input:hover input[type="checkbox"]:checked + label::before {
    background: url(../../images/check-bg-ok-ceres.png) no-repeat; }
  .filter-material input[type="checkbox"] + label {
    color: #fff; }
  .filter-material .filter-input:hover input[type="checkbox"] + label {
    color: #f14472; }

.filter-size .filter-input input[type="checkbox"] + label {
  clear: both;
  padding-top: 10px;
  margin-bottom: 20px; }
.filter-size .filter-input span {
  margin-top: -10px;
  margin-right: 10px;
  width: 80%;
  display: block;
  float: right;
  clear: right; }

.pre-footer .last-seen {
  width: 100%; }
.pre-footer .social {
  float: right;
  margin-top: -110px; }

.Up {
  margin-bottom: -74px; }

main {
  clear: both; }

.items {
  float: right;
  clear: none;
  width: 72%;
  margin-right: 4px;
  margin-top: 55px; }

.item {
  margin-right: 78px;
  margin-bottom: 100px;
  height: auto; }

.item:nth-child(3n) {
  margin-right: 10px; }

/*# sourceMappingURL=inner_page.css.map */
